<!DOCTYPE html>
<html ng-app="FileManager">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/MyAngular/app.js"></script>

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
