body {
    padding-top: 25px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px; 
}

table {
border:2px solid #ccc;

}

td {
    border:2px solid #ccc;
    text-align:center;
}

table th{
    background:#ccc;
    color:#fff;
    text-align:center;
}
